html {
  background-color: #a9d2c5;
  /* background: url(../images/sand.jpg); */
  /* background-size: cover; */
  /* background-position: center center; */
  /* background-repeat: no-repeat; */
}

body {
  font-family: sans-serif;
  /* text-align:center; */
  margin:auto;
  padding-left: 20px;
}

p {
  color: white;
  font-size: 20px;
}

.reverseCat {
  transform: scaleX(-1);
}
